<div class="card_container">
    <img class="card_img" />
    <div class="card_bottom">
        <div class="card_text">
            <h3 class="card_title"></h3>
            <p class="card_creator"></p>
        </div>
        <div class="card-icon">
            <div class="card_share">

            </div>
            <div class="card_like">

            </div>
        </div>
    </div>
</div>