<div class="card_container">
    <img class="card_img" src="{{ asset('../upload/img/tatoo.png') }}">
    <div class="card_bottom">
        <div class="card_text">
            <h3 class="card_title">{{ image.name }}</h3>
            <p class="card_creator"></p>
        </div>
        <div class="card-icon">
            <div class="card_share">

            </div>
            <div class="card_like">

            </div>
        </div>
    </div>
</div>