{% extends 'base.html.twig' %}

{% block title %}InkLink{% endblock %}

{% block body %}

<div class="banner_home">
  <div class="banner_text_home"> 
    <p class="big_text_home"><span class="violet">Bienvenue</span> dans notre communauté dédiée aux passionnés de <span class="violet">l'art du tatouage</span></p>
    <p class="small_text_home">Connectez-vous avec des tatoueurs talentueux, partagez vos créations et trouvez l'inspiration pour votre prochain tatouage.</p>
  </div>
  <img class="img_home" src="../upload/img/img_home.png">
</div>
<div class="btn_home">
  <a href="#" class="btn_text_home">Rejoindre la communauté !</a>
</div>

<div class="search_home">
<div class="search_home_border">
  
  <form class="search-form" action="{{ path('app_home') }}" method="GET">
    <img class="img_search" src="../upload/img/search.png" alt="Rechercher" type="submit">
    <input class="search-input" type="text" placeholder="Recherche" name="q">
    <button class="sort-btn" type="button">PROFIL TATOUEUR</button>
    <button class="sort-btn" type="button">PUBLICATION</button>
    <button class="sort-btn" type="button">MUR DE STYLE</button>
  </form>
  </div>
</div>
{% include 'home/list.html.twig' with { data } %}
{% endblock %}
