{% extends 'base.html.twig' %}

{% block title %}InkLink{% endblock %}

{% block body %}

<div class="banner_home">
  <div class="banner_text_home"> 
    <p class="big_text_home"><span class="violet">Bienvenue</span> dans notre communauté dédiée aux passionnés de <span class="violet">l'art du tatouage</span></p>
    <p class="small_text_home">Connectez-vous avec des tatoueurs talentueux, partagez vos créations et trouvez l'inspiration pour votre prochain tatouage.</p>
  </div>
  <img class="img_home" src="../upload/img/img_home.png">
</div>

{% include 'home/list.html.twig' with { data } %}

{% endblock %}
