body{
    margin: 0 auto;
    width: 80%;
    background-color: #fff;
}

/* BARRE NAV */


.nav-container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  vertical-align: middle;
  max-width: 50px;
  margin-right: 10px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.menu img {
  vertical-align: middle;
  max-width: 15px;
  margin-left: 5px;
}

.menu > li {
  position: relative;
}

.menu > li > a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.menu > li:hover > ul {
  display: block;
}

.menu > li > ul {
  position: absolute;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.menu > li > ul > li {
  display: block;
}

.menu > li > ul > li > a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.menu > li > a:hover {
  color: #7F2982;
}


.account {
  display: flex;
  align-items: center;
}

.account a {
  margin-right: 20px;
  text-decoration: none;
}

.btn-connexion {
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid black;
}

.btn-connexion:hover {
  background-color: black;
  color: white;
  border:1px solid white ;
}


.btn-inscription {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border:1px solid white ;
}

.btn-inscription:hover {
  background-color: white;
  color: black;
  border: 1px solid black;

}


/* FOOTER */

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
}

.footer_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_title img {
  vertical-align: middle;
  max-width: 50px;
  margin-right: 10px;
}

.footer_text {
  text-align: center;
  margin: 20px 0;
}

footer input[type="email"] {
  margin-bottom: 10px;
  padding: 12px 16px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid rgba(26, 26, 26, 0.5);
  border-radius: 4px;
  width : 35%;
}

footer button[type="submit"] {
  padding: 12px 20px;
  background-color: #1A1A1A;
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
}

footer button[type="submit"]:hover {
  background-color: #7F2982;
}

.footer_end {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footer_end p {
  margin-top: 20px;
  margin-bottom: 20px;
}


/* HOME */


/* SLIDER */
.slider {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  }
  
  .slider-wrapper {
  display: flex;
  width: 300%;
  transition: transform 0.4s ease-in-out;
  }
  
  .slide {
  flex-shrink: 0;
  width: 33.33%;
  height: 300px;
  }
  
  .slide img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  }
  
  .slider-controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  }
  
  .slider-control {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.2s ease-in-out;
  }
  
  .slider-control:hover {
  background-color: rgba(0, 0, 0, 0.5);
  }
  
  .slider-control.prev {
  position: absolute;
  left: 0;
  }
  
  .slider-control.next {
  position: absolute;
  right: 0;
  }





/* REGISTER */

/* Style pour le conteneur du formulaire */
.bloc_register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    width: 80%;
  }
  
/* Style pour le conteneur de gauche */
.left_register {
    margin-right: 20px;
  }

  /* Style pour le titre de la page */
  .title_register {
    width: 677px;
    height: 74px;
    font-family: 'ArponaSans';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 37px;
    color: #000000;
  }

  /* Style pour le premier paragraphe */
  .text1_register {
    width: 675px;
    height: 48px;
    font-family: 'Arpona';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #7F2982;
    margin-bottom: 75px;
  }
  
  /* Style pour le deuxième paragraphe */
  .text2_register {
    width: 654px;
    height: 182px;
    font-family: 'Arpona';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #000000;
  }
  
  /* Style pour le conteneur de droite */
  .right_register {
    background-color: #fff;
    padding: 20px;
    margin-left: 20px;
    flex: 1;
  }
  
  /* Style pour le titre du formulaire */
  .right_register h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  /* Style pour tous les champs de formulaire */
  .right_register input{
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }

    .right_register select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }
  
  /* Style pour le bouton de soumission */
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  /* Style pour les messages d'erreur */
  .form-error {
    color: red;
    font-size: 12px;
    margin-top: 5px;}

/* LOGIN */

/* Style pour le conteneur du formulaire */
.bloc_login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
}

/* Style pour le conteneur du formulaire */
.form_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 60px;
  margin: auto;
  width: 80%;
}

/* Style pour le titre de la page */
.title_login {
  width: 172px;
  height: 37px;
  font-family: 'ArponaSans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
}

/* Style pour tous les champs de formulaire */
.div_login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 25%;
  margin-bottom: 20px;
}

/* Style pour les labels */
.label_login {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* Style pour les inputs */
.input_login {
  background: #FFFFFF;
  border: 1px solid rgba(26, 26, 26, 0.5);
  border-radius: 4px;
  width: 100%;
  height: 30px;
}