


body{
    margin: 0 auto;
    width: 80%;
    background-color: #282525;
    color: white;
    font-family: 'ArponaSans';
    font-style: normal;
}
/* BARRE NAV */


.nav-container {
  background-color: #282525;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%; /* assure que la barre de navigation prend toute la largeur */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180%;
}

.logo {
  display: flex;
  align-items: center;
  color: #8F00FE;
  order: 1;
}

.logo img {
  vertical-align: middle;
  max-width: 40px;
  margin-right: 20px;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  order: 2;
  padding: 0;  /* Assurez-vous qu'il n'y a pas de padding supplémentaire */
  margin: 0;  /* Assurez-vous qu'il n'y a pas de marge supplémentaire */
  box-sizing: border-box; /* Assurez-vous que la taille de la boîte inclut le padding et la bordure */
}


.hamburger div {
  width: 2rem;
  height: 0.25rem;
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.3s linear;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  order: 2;
  transition: all 0.3s;
}


.menu img {
  vertical-align: middle;
  max-width: 15px;
  margin-left: 5px;
}

.menu > li {
  position: relative;
}

.menu > li > a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.menu > li:hover > ul {
  display: block;
}

.menu > li > ul {
  position: absolute;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.menu > li > ul > li {
  display: block;
}

.menu > li > ul > li > a {
  transition: 0.3s;
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.menu > li > a:hover {
  transition: 0.3s;
  color: #8F00FE;
}

.menu.active {
  display: flex;
  width: 100%;
}


.hamburger.open div:nth-child(1) {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger.open div:nth-child(2) {
  /* Dissimulation du deuxième barreau du hamburger */
  opacity: 0;
}

.hamburger.open div:nth-child(3) {
  transform: rotate(45deg) translate(-9px, -6px);
}
.account {
  display: flex;
  align-items: center;
  order: 3;
  width: 100%;
  justify-content: right;
}

.account a {
  margin-right: 20px;
  text-decoration: none;
}

.btn-connexion {
  transition: 0.3s;
  border: 1px solid #EBA900;
  background-color: #282525;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  }
  
  .btn-connexion:hover {
  transition: 0.3s;
  background-color: #EBA900;
  color: white;
  border:1px solid #EBA900 ;
  }
  
  .btn-inscription {
  transition: 0.3s;
  background-color: #EBA900;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border:1px solid #EBA900 ;
  }
  
  .btn-inscription:hover {
  transition: 0.3s;
  background-color: #282525;
  color: white;
  border: 1px solid #EBA900;
  
  }
 /* NAV RESPONSIVE */
@media (max-width: 900px) {
  .nav-container {
    flex-wrap: wrap;
  }

  .logo, .hamburger {
    flex: 1 0;
  }

  .logo {
    order: 1;
  }

  .menu {
    flex-direction: column;
    display: none;
    order: 3;
  }

  .hamburger {
    display: flex;
    order: 2;
  }

  .account {
    order: 4;
    width: 100%;
    justify-content: center;
  }
}

/* FOOTER */

footer {
  bottom: 0;
  width: 100%;
  padding: 20px 0;
}

.footer_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_title img {
  vertical-align: middle;
  max-width: 50px;
  margin-right: 10px;
}

.footer_text_block{
  margin-left: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  padding: 40px;
  margin-top: -45px;
  background: #1D1B1B;
  
}

.footer_text {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer input[type="email"] {
  margin-bottom: 10px;
  padding: 12px 16px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid rgba(26, 26, 26, 0.5);
  border-radius: 4px;
  width : 35%;
}

footer button[type="submit"] {
  transition: 0.3s;
  padding: 12px 20px;
  background-color: #EBA900;
  border-radius: 4px;
  border: 1px solid #EBA900;
  color: #fff;
  cursor: pointer;
}

footer button[type="submit"]:hover {
  transition: 0.3s;
  background-color: #282525;
  color: white;
  border-radius: 4px;
  border: 1px solid #EBA900;
}

.footer_end {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footer_end p {
  margin-top: 20px;
  margin-bottom: 20px;
}


/* HOME */
.banner_home{
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Ajoute un espace entre les éléments */
  align-items: center; /* Centre verticalement les éléments */
  padding: 5vw 0;
  gap: 1rem;
  max-width: 80vw;
  height: auto;
  flex: none;
  order: 1;
  flex-grow: 0;
  position: relative; /* Ajouter cette ligne */
}

.banner_text_home{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 1rem;
  max-width: 70vw;
  height: auto;
  order: 0; /* Change l'ordre d'affichage */
  flex-grow: 0;
  z-index: 1;
  
}

.big_text_home{
  width: 100%;
  max-width: 50ch;
  font-weight: 700;
  font-size: 55px;
  line-height: 91%;
  margin: 0; /* Ajoute une marge par défaut */
}

.small_text_home{
  width: 100%;
  max-width: 50ch;
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  color: #FFFFFF;
  margin-bottom: 50px; /* Ajoute une marge par défaut */

}

.violet{
  color:#8F00FE;
}

.img_home {
  flex: none;
  order: 1; /* Change l'ordre d'affichage */
  max-width: 100%;
  height: auto;
  margin-left: 50px;
  position: relative; /* Ajouter cette ligne */
}

.btn_home{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 391px;
  height: 57px;

  background: #EBA900;
  border-radius: 4px;

  flex: none;
  order: 1;
  flex-grow: 0;

  margin-top: -80px;
  margin-bottom: 50px;
  position: relative; /* Ajouter cette ligne */
}
.btn_text_home{
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  text-decoration: none;
  /* identical to box height, or 100% */

  color: #FFFFFF;

}


/*HOME RESPONSIVE*/
@media (max-width: 900px) {
  .banner_home{
    flex-direction: column;
    padding: 2vw 0;
  }

  .banner_text_home{
    max-width: 90vw;
  }

  .big_text_home{
    font-size: 40px;
  }

  .small_text_home{
    font-size: 18px;
  }

  .img_home {
    margin-left: 0;
  }

  .btn_home{
    width: 80%;
    height: 40px;
    margin: 15px;
  }
  
  .btn_text_home{
    font-size: 18px;
  }
}

/*SEARCH*/
.search_home {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0px;
  max-width: 100%;
  height: 58px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 50px;
}

.search_home_border {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background: #332F2F;
  flex: auto; /* Modifier flex-grow en flex-auto */
  order: 0;
}

.img_search {
  width: 18px;
  height: 18px;
  left: 5px;
  top: 5px;
  align-items: center;
  vertical-align: middle;
  padding: 10px;
}
.search-form{
  width: 100%;
  padding: 5px;
}
.search-input {
  box-sizing: border-box;
  padding: 12px 16px;
  gap: 8px;
  flex: auto; /* Modifier flex-grow en flex-auto */
  order: 1; /* Modifier l'ordre de 0 à 1 */
width:50%;

background: #332F2F;
}

.sort-btn {
  padding: 8px 16px;
  gap: 8px;
  height: 48px;
  background: #181717;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #8F00FE;
  flex: none;
  order: 2; /* Ajouter une nouvelle règle d'ordre pour les boutons */
  transition: 0.3s;
}

.sort-btn:hover {
  transition: 0.3s;
  background: #8F00FE;
  color: black;
}




/* REGISTER */

/* Style pour le conteneur du formulaire */
.bloc_register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    width: 80%;
  }
  
/* Style pour le conteneur de gauche */
.left_register {
    margin-right: 20px;
  }

  /* Style pour le titre de la page */
  .title_register {
    width: 677px;
    height: 74px;
    font-weight: 900;
    font-size: 40px;
    line-height: 37px;
  }

  /* Style pour le premier paragraphe */
  .text1_register {
    width: 675px;
    height: 48px;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #8F00FE;
    margin-bottom: 75px;
  }
  
  /* Style pour le deuxième paragraphe */
  .text2_register {
    width: 654px;
    height: 182px;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
  }
  
  /* Style pour le conteneur de droite */
  .right_register {
    padding: 20px;
    margin-left: 20px;
    flex: 1;
  }
  
  /* Style pour le titre du formulaire */
  .right_register h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  /* Style pour tous les champs de formulaire */
  .right_register input{
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }

    .right_register select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }
  
  /* Style pour le bouton de soumission */
  .btn {
    transition: 0.3s;
    background-color: #EBA900;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    
  border:1px solid #EBA900 ;
  }
  .btn:hover {
    transition: 0.3s;
    background-color: #282525;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    
  border:1px solid #EBA900 ;
  }

  /* Style pour les messages d'erreur */
  .form-error {
    color: red;
    font-size: 12px;
    margin-top: 5px;}

/* LOGIN */

/* Style pour le conteneur du formulaire */
.bloc_login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
}

/* Style pour le conteneur du formulaire */
.form_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 60px;
  margin: auto;
  width: 80%;
}

/* Style pour le titre de la page */
.title_login {
font-family: 'ArponaSans';
font-style: normal;
font-weight: 900;
font-size: 25px;
line-height: 24px;
/* identical to box height, or 96% */
color: #8F00FE;

}

/* Style pour tous les champs de formulaire */
.div_login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 25%;
  margin-bottom: 20px;
}

/* Style pour les labels */
.label_login {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* Style pour les inputs */
.input_login {
  background: #FFFFFF;
  border: 1px solid rgba(26, 26, 26, 0.5);
  border-radius: 4px;
  width: 100%;
  height: 30px;
}

/* Liste homepage */
.card_container {
  width: 300px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
  background-color: #1B1919;
}

.card_img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card_bottom {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_text {
  flex-grow: 1;
}

.card_title {
  margin: 0;
  font-size: 18px;
}

.card_creator {
  margin: 5px 0;
  font-size: 14px;
}

.card-icon {
  display: flex;
}

.card_share,
.card_like {
  width: 30px;
  height: 30px;
  background-color: #EBA900;
  border-radius: 50%;
  margin-right: 10px;
}
.card_img_share,
.card_img_like{
margin-top: 5px;
margin-left: 5px;
}


.card-gallery {
  column-count: 3;
  column-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

@media (max-width: 768px) {
  .card-gallery {
    justify-content: flex-start;
  }
}

/* DISCOVER */

/* Styles pour le conteneur des catégories */
.categorie_container {
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
  column-count: 2; /* Divise les boutons de catégories en deux colonnes */
  column-gap: 10px; /* Espace entre les colonnes */
  width: 100%;
  margin-left: -2%;
}
.categoriebtn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 120px;
  
  width: 400px;
  height: 260px;
  
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('');
  /* Ombre card */
  
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.08), 0px 0px 46.8519px rgba(0, 0, 0, 0.0607407), 0px 0px 25.4815px rgba(0, 0, 0, 0.0485926), 0px 0px 13px rgba(0, 0, 0, 0.04), 0px 0px 6.51852px rgba(0, 0, 0, 0.0314074), 0px 0px 3.14815px rgba(0, 0, 0, 0.0192593);
  border-radius: 8px;
  margin: 40px;
  list-style-type: none; /* Supprime les points de liste */

  background-size: cover; /* Ajuste la taille de l'image de fond */
  background-position: center; /* Centre l'image de fond */
}


/* Styles pour les boutons de catégories */
.btn_categorie {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  
  width: 195px;
  height: 100px;
  
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(6.5px);
  /* Note: backdrop-filter has minimal browser support */
  
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn_categorie:hover {
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(6.5px);
}


/* PROFIL */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.profile-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.profile-buttons button {
  padding: 10px 20px;
  background-color: #EBA900;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.profile-content .creations {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
}

.profile-content .creations img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.profile-stats {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

.profile-stats p {
  margin: 0;
}

.profile-related {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.add-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  margin: 20px;
  background-color: #EBA900;
}

/* TATOUEURS */

.profile-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Répartit les profils sur 3 colonnes */
  grid-gap: 20px; /* Espace entre les profils */
  margin: 50px;
}

.profile-card {
  width: 400px;
  height: 300px;
  background-color: #353434;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile-card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.profile-card p {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Modifier les styles selon vos préférences */
