{% extends 'base.html.twig' %}

{% block body %}
    <ul class="categorie_container">
        {% for categorie in categories %}
            <div class="categoriebtn_container" style="background-image: url('{{ asset('../upload/categories/' ~ categorie.background) }}')">
                <li>
                    <a class="btn_categorie" href="{{ path('discover_gallery', { 'id': categorie.id }) }}">
                        {{ categorie.name }}
                    </a>
                </li>
            </div>
        {% endfor %}
    </ul>
{% endblock %}
