{% extends 'base.html.twig' %}

{% block body %}
    <ul class="categorie_container">
    
        {% for categorie in categories %}
        <div class="categoriebtn_container">
            <li>
                <a class="btn_categorie" href="{{ path('discover_gallery', { 'id': categorie.id }) }}">
                    {#<img src="{{ categorie.image }}" alt="{{ categorie.name }}">#}
                    {{ categorie.name }}
                </a>
            </li>
        </div>
        {% endfor %}
    </ul>
    
{% endblock %}
