<footer>
    <div class="container">
        <div class="row">
            <div class="footer_title">
                <img src="../upload/img/logo.png" alt="Logo">
                <h1>InkLink</h1>
            </div>
            <div class="footer_text_block">
            <div class="footer_text">
                <p class="titre_footer">Soyez <span class="violet">le premier</span> à savoir</p>
                <p>Recevez des mises à jour par e-mail sur nos dernières collaborations, nos nouveaux produits et nos remises exclusives.</p>
                <form method="POST" action="{{ path('newsletter_subscribe') }}">
                    <input type="email" name="email" placeholder="Entrez votre email"><br>
                    <button type="submit">S'abonner</button>
                </form>
            </div>
            </div>
            <div class="footer_end">
                <p>Condition d’utilisation</p>
                <p>Copyright © 2023 InkLink inc. Made in France</p>
                <p>Politique de confidentialité</p>
            </div>
        </div>
    </div>
</footer>
