<div class="nav-container">
  <nav>
    <div class="logo">
      <a href="{{ path('app_home') }}"><img src="../upload/img/logo.png" alt="Logo"></a>
      <h1>InkLink</h1>
    </div>
     <ul class="menu">
      <li><a href="#">Découvrir <img src="../upload/img/arrow_down.png" alt="Arrow_down"></a>
        <ul>
          <li><a href="#">Option 1</a></li>
          <li><a href="#">Option 2</a></li>
          <li><a href="#">Option 3</a></li>
          <li><a href="#">Option 4</a></li>
        </ul>
      </li>
        <li><a href="#">Trouver son tatoueur</a></li>
        <li><a href="#">Annonces</a></li>
        <li><a href="#">Évènements</a></li>
    </ul>
        <div class="account">
        {% if app.user %}
            <a href="#">Mon compte</a>
            <a href="/logout">Déconnexion</a>
        {% else %}
            <a href="{{ path("app_login") }}" class="btn-connexion">Se connecter</a>
            <a href="/register" class="btn-inscription">S'inscrire</a>
        {% endif %}
        </div>

  </nav>
</div>
